services:
  db:
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "qwer1234"
      POSTGRES_DB: "nextjs"
    volumes:
      - ./data:/var/lib/postgresql
